@font-face {
    font-family:"Ghang" ;
    src: url(./fonts/Ghang-2nxo.ttf) format('truetype');
}
@font-face {
    font-family:"AttackGraffiti" ;
    src: url(./fonts/AttackGraffiti-3zRBM.ttf) format('truetype');
}


body{
    background-image:url(./icons/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: 'Poppins', sans-serif;

    text-align: center;

}

#title{
    font-size: 80px;
    font-weight: 500;
    padding: 10px 100px 0px 100px;
    
}

#PlayerSelection {
    display: flex;
    justify-content: center;
   
}

#title {
    font-family: "Ghang";

}

#rock, #paper, #scissor {
    background: transparent;
    
}

button.PlayerChoice {
    border: none;
    color: white;
    font-size: 30px;

}

.ChoiceName {
    font-family: "AttackGraffiti";


}

#PlayAgain {
    font-family: "AttackGraffiti";
    font-size: 30px;
}